.footer-section
{
	background-color: $footer-color;
	color:$background-color;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top:3rem; 
	padding-bottom: 1.5rem;
	z-index:4;
	p
	{
		margin-bottom: 10px;
		font-weight: 450;
		font-size:1rem;
		cursor: pointer;
	}
	.full-row
	{
		text-align: center;
		grid-column-start: 1;
		grid-column-end:4;
	}
	.col-1
	{
		margin:0 auto;
	}
	.col-2
	{
		margin: 0 auto;
	}
	.col-3
	{
		margin: 0 auto;
	}

}