.hero-section
{

font-family: $header-font;
margin-top:55px;


	.wrapper
	{
		width: 600px;
		margin-top: 100px;
		margin-left: 12%;
		margin-bottom: 160px;

		.hero-title,.hero-subtitle
		{
			font-size: 2.1rem;
			color:$footer-color;

		}
		.hero-last-title
		{
			font-size: 1.2rem;
			margin-top: 13px;
			color:$footer-color;
			margin-bottom: 23px; 
		}
		.hero-button
		{
			border: 1px solid $header-color;
			width:200px;
			border-radius: 400px;
			padding: 1rem .4rem;
			background: $header-color;
			color:$background-color;
			font-weight: 600;
			font-size: 1rem;
			cursor: pointer;
		}
	}
	.second-herosection
	{
		display: flex;
		position:relative;
		.leaf{

			margin-right:-37px;
			margin-left:30px;
		}
		.Laptop
		{
			margin-left: 78px;
			margin-top:-130px;
			margin-right: -70px;
		}
		.flat-leaf
		{
			position: absolute;
			z-index:12;
			left:41%;
			top:30%;
		}
		.flat-leaf2
		{
			position: absolute;
			left:49%;
			top:40%;
			z-index:45;
		}
		.mobile-app
		{
			margin-top: -365px;
			z-index:13;
			margin-right: -70px;
		}
		.grasshopper
		{
			margin-left: -200px;
			margin-top: -150px;
		}
	}
}
