$header-color:#45c14e;
$section-color:#4ee8e2;
$footer-color:#002c43;
$nav-color:#00324b;
$background-color:#fcfcfc;
$special-color:#dff8eb;
$list-color:#99ADB7;
$card-color:#E0E0E0;
$card-bg:#F8F8F8;
$green:green;
$white:white;